@import url(https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;800;900&display=swap);

body {
  font-family: 'Inter', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #030712;
}
:root{
    --text: #D1D5DB;
    --logo: #F9FAFB;
}

.container{
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 16px;

    .logo a{
        color: var(--logo);
        font-weight: 700;
        font-size: 30px;
    }
    .nav_lists{
        display: flex;
        align-items: center;
        gap: 48px;
            .nav_list{
                display: flex;
                gap: 24px;
                a{
                    font-weight: 500;
                    font-size: 16px;
                    color: var(--text);
                }
            }
            .other{
                border-left: 1px solid #1F2937;
                display: flex;
                align-items: center;
                gap: 16px;
                padding-left: 24px;

                i{
                    color: var(--text);
                    font-weight: 900;
                }
            }
    }
}

.btn{
    padding: 6px 16px;
    font-size: 16px;
    font-weight: 700;
    color: #111827;
    border-radius: 12px;
    background: var(--logo);
    border: none;
}